body {
  text-align: center;
  background-color: #fd791d;
  background-size: 900px;
  
}
h1{
  font-size: 55px;
  color: yellow;
  font-family: helvetica;
}
h2{
  font-size: 35px;
  color: blue;
  font-family: helvetica;
}

input {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  border: 3px solid #32e17c;
  height: 40px;
  width: 250px;
  border-radius: 50px;
  padding: 0px 10px;
}

button {
  text-transform: uppercase;
  background-color:#fc466b;
  padding: 8px;
  border-radius: 14%;
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.book-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  
}


