body {
  text-align: center;
  background: yellow;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: helvetica;
  }
  h1 {
    font-size: 65px;
    letter-spacing: 10px;
    font-family: helvetica;
    color: #007bfa;
  }
  p {
    font-size: 15px;
    letter-spacing: 05px;
    padding: 10px;
    font-family: helvetica;
    color: #007bfa;
  }  
  input {
    border-radius: 20px;
    letter-spacing: 05px;
    width: 200px;
    padding: 15px;
    font-size: 15px;
  }
  input[type="submit"] {
    background:#007bfa;
    width: 100px;
    color: white;
    font-family: helvetica;
  }


